h1,
h2,
p {
  text-align: center;
}

body {
  background-image: url("https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg");
}

.menu {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  background-color: burlywood;
}

.flavor {
  text-align: left;
}
