h1,
h2,
p {
  text-align: center;
}

body {
  padding: 20px;
  background-image: url("https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg");
  font-family: sans-serif;
}

.menu {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: burlywood;
}

.flavor,
.dessert {
  width: 75%;
  text-align: left;
}

.price {
  width: 24%;
  text-align: right;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

h1,
h2 {
  font-family: Impact, serif;
}

.established {
  font-style: italic;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

/* FOOTER */

footer {
  font-size: 14px;
}
